---
import Header from "../components/Header.astro";
import TierList from "../components/TierList.astro";
import archlogo from '/DistroImgs/arch-logo.png';
import debianlogo from '/DistroImgs/debian-logo.png';
import elementarylogo from '/DistroImgs/elementary-logo.png';
import fedoralogo from '/DistroImgs/fedora-logo.png';
import gentoologo from '/DistroImgs/gentoo.png';
import kalilogo from '/DistroImgs/kali-logo.png';
import kubuntulogo from '/DistroImgs/kubuntu.png';
import mintlogo from '/DistroImgs/mint-logo.png';
import poplogo from '/DistroImgs/pop-os-logo.png'; 
import ubuntulogo from '/DistroImgs/ubuntu-logo.png';
import voidlogo from '/DistroImgs/void.png';
---

<html>
    <div><Header></div>
    <div>
        <h1 id="Greet">Lets rate all the distros we know on a tier list with Drag N Drop!</h1>
    </div>
    <div><TierList/></div>
    <div id="GifList">
        <img id="arch-logo" height="100" src={archlogo} alt="arch" draggable="true" />
        <img id="debian-logo" height="100" src={debianlogo} alt="arch" draggable="true"
        <img id="element-logo" height="100" src={elementarylogo} alt="elementary" draggable="true"/>
        <img id="fedora-logo" height="100" src={fedoralogo} alt="fedora" draggable="true" />
        <img id="gentoo-logo" height="100" src={gentoologo} alt="gentoo" draggable="true"/>
        <img id="kali-logo" height="100" src={kalilogo} alt="kali" draggable="true" />
        <img id="kubuntu-logo" height="100" src={kubuntulogo} alt="kubuntu" draggable="true" />
        <img id="mint-logo" height="100" src={mintlogo} alt="mint" draggable="true" />
        <img id="pop-logo" height="100" src={poplogo} alt="pop" draggable="true" />
        <img id="ubuntu-logo" height="100" src={ubuntulogo} alt="ubuntu" draggable="true" />
        <img id="void-logo" height="100" src={voidlogo} alt="void" draggable="true" />
    </div>

</html>


<script>

    const archlogo = document.getElementById("arch-logo");
    const debianlogo = document.getElementById("debian-logo");
    const elementlogo = document.getElementById("element-logo");
    const fedoralogo = document.getElementById("fedora-logo");
    const gentoologo = document.getElementById("gentoo-logo");
    const kalilogo = document.getElementById("kali-logo");
    const kubuntulogo = document.getElementById("kubuntu-logo");
    const mintlogo = document.getElementById("mint-logo");
    const poplogo = document.getElementById("pop-logo");
    const ubuntulogo = document.getElementById("ubuntu-logo");
    const voidlogo = document.getElementById("void-logo");

    function dragstarter(e: Event) {
        if(e instanceof DragEvent) {
            if(e.target instanceof HTMLImageElement) {
                if(e.dataTransfer != null) {
                    e.dataTransfer.setData("text", e.target.id);
                    //e.dataTransfer.effectAllowed = "move";
                    //e.dataTransfer.dropEffect = "move";
                }
            }
        }
    };

    archlogo?.addEventListener('dragstart', (e)=>dragstarter(e));
    debianlogo?.addEventListener('dragstart', (e)=>dragstarter(e));
    elementlogo?.addEventListener('dragstart', (e)=>dragstarter(e));
    fedoralogo?.addEventListener('dragstart', (e)=>dragstarter(e));
    gentoologo?.addEventListener('dragstart', (e)=>dragstarter(e));
    kalilogo?.addEventListener('dragstart', (e)=>dragstarter(e));
    kubuntulogo?.addEventListener('dragstart', (e)=>dragstarter(e));
    mintlogo?.addEventListener('dragstart', (e)=>dragstarter(e));
    poplogo?.addEventListener('dragstart', (e)=>dragstarter(e));
    ubuntulogo?.addEventListener('dragstart', (e)=>dragstarter(e));
    voidlogo?.addEventListener('dragstart', (e)=>dragstarter(e));

</script>



<style>

   
   html, body {
        margin: 0; 
        background: cornflowerblue;
   }

    #Greet {
        text-align: center;
    }
    
    #GifList {
        border: solid black 3px;
        height: 25.5vh;
        width: 60vw;
        margin: auto;
        margin-top: 40px;
    }

    #GifList img {
        height: 12.5vh;
        object-fit: contain;
    }


</style>
