---
import Header from "../components/Header.astro";
import TierList from "../components/TierList.astro";

import archlogo from '../../public/DistroImgs/arch-logo.png'
import debianlogo from '../../public/DistroImgs/debian-logo.png'
import elementarylogo from '../../public/DistroImgs/elementary-logo.png'
import fedoralogo from '../../public/DistroImgs/fedora-logo.png'
import gentoologo from '../../public/DistroImgs/gentoo.png'
---

<html>
    <div><Header/></div>
    <div>
        <h1 id="Greet">Lets rate all the distros we know on a tier list with Drag N Drop!</h1>
    </div>
    <div><TierList ondrop={drop} /></div>
    <div id="GifList">
        <img id="arch-logo" src={archlogo} alt="arch" draggable="true" />
        <img id="debian-logo" src={debianlogo} alt="arch" draggable="true"/>
        <img id="element-logo" src={elementarylogo} alt="elementary" draggable="true"/>
        <img id="fedora-logo" src={fedoralogo} alt="fedora" draggable="true" />
        <img id="gentoo-logo" src={gentoologo} alt="gentoo" draggable="true"/>
    </div>
</html>

<script src="../scripts/distroscriptDragNDrop.ts"></script>

<style>

   
   html, body {
        margin: 0; 
   }

    #Greet {
        text-align: center;
    }
    
    #GifList {
        border: solid black 3px;
        height: 12.5vh;
        width: 60vw;
        margin: auto;
        margin-top: 40px;
    }

    #GifList img {
        height: 12.5vh;
        object-fit: contain;
    }


</style>
